@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}
@model SettingsViewModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Html.Raw(Model.ErrorMessage)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h2>Settings</h2>

<h3 style="margin-top: 50px">Preferred Location</h3>
<form asp-antiforgery="true" asp-action="SetPreferredLocation" style="margin-top: 20px" autocomplete="off">
    <input hidden id="CityId" asp-for="Id">
    
    <div class="form-group row">
        <label for="currentCity" class="col-sm-2 col-form-label">Current</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="currentCity" value="@{ @Html.Raw(Model.Name) }">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="CityName" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <input type="text" id="CityName" asp-for="Name" class="form-control" placeholder="Start typing to get suggestions…">
        </div>        
    </div>

    <button type="submit" id="submitButton" class="btn btn-outline-info" style="margin-top: 10px">Update</button>
</form>

<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter" 
        aria-describedby="passwordHelpBlock" style="margin-top: 20px" @Html.Raw(Model.StoredLocation == null ? "disabled" : null)>
    Delete stored location
</button>
<small id="passwordHelpBlock" class="form-text text-muted">
    No longer want your location stored? Delete it!
</small>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You're about to delete your preferred location, proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form asp-action="DeletePreferredLocation" asp-antiforgery="true">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h3 style="margin-top: 50px">Preferred Unit System</h3>

<div class="form-group row" style="margin-top: 20px">
    <label for="staticUnitsName" class="col-sm-2 col-form-label">Current</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control" id="staticUnitsName" value="@Html.Raw(Model.UnitTypeName)">
    </div>
</div>
<div class="form-group row">
    <label for="staticButtonDescription" class="col-sm-2 col-form-label">Desired System</label>
    <div class="col-sm-10">
        <div class="btn-group" role="group" id="staticButtonDescription" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/Settings/SetPreferredUnits?type=3';">Automatic</button>
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/Settings/SetPreferredUnits?type=1';">Metric</button>
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/Settings/SetPreferredUnits?type=2';">Imperial</button>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#CityName').autocomplete({
            source: '/Settings/Search',
            minLength: 4,
            select: function (event, ui) {
                //set tagids to save
                $("#CityId").val(ui.item.id);
                $("#CityCountry").val(ui.item.country);
               
                //Tags for display              
                this.value = ui.item.value;
                return false;
            }
        });
    });
</script>
}