@{
    ViewData["Title"] = "About";
}

<div class="alert alert-primary alert-dismissible fade show" role="alert" id="dev-alert">
    This website is in <strong>development</strong> and it may look unfinished or/and contain bugs.
    Please report bugs to <strong>Aeris#3535</strong> on Discord, thanks :)
</div>

<h1>@ViewData["Title"]...</h1>

<br/>

<h3>... this website</h3>
<p>
    This website was made in the goal of providing quick information about weather and as an exercise to practice coding.
    It uses <a href="https://openweathermap.org/api">OpenWeatherMap's API</a> to provide the weather and <a href="https://ip-api.com">ip-api's API</a> to get the IP's geolocation.
</p>

<br/>

<h3>... privacy</h3>
<p>Because privacy is important, I use only essentials cookies, which are required to cache the data and store preferences.</p>
